--extra-index-url https://download.pytorch.org/whl/cpu
-f https://github.com/llvm/torch-mlir-release/releases/expanded_assets/dev-wheels
--pre
torch==2.13.0+cpu
torchvision==0.28.0+cpu
torch-mlir==20260915.877
torchao==0.10.0+cpu
